node_modules/
dist/
./config/db
./config/scripts
src/metadata.ts

# Lock files - generated automatically
*-lock.json   # package-lock.json
*.lock        # yarn.lock and all others
*-lock.yaml
*-lock.yml
pnpm-lock.yaml
